 /* สไตล์สำหรับป็อปอัพท์ */
 .calendar-popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .calendar-popup h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .calendar-day {
    width: 14.28%; /* 1/7 ของ 100% */
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .calendar-day:hover {
    background-color: #f5f5f5;
  }

  .calendar-day:nth-child(7n), .calendar-day:last-child {
    border-right: none;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .selected-day {
    background-color: #007BFF;
    color: white;
  }

  #openPopupButton1, #openPopupButton2 {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  #openPopupButton1:hover, #openPopupButton2:hover {
    background-color: #0056b3;
  }