   /* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: K2D, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.section {
    font-size: 25px;
    color: black;
    font-weight: 400;
    word-wrap: break-word;
}

.section-title {
    font-size: 30px;
}

.red-text {
    color: #FF0000;
}

.green-button {
    background: #00FF0A;
}

.red-button {
    background: #FF0000;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

/* Define positions of the elements */
#container {
    width: 1257px;
    height: 748px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #EFEFEF;
}

#section-title {
    width: 241px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.section-content {
    width: 200px;
    height: 32px;
    position: absolute;
    left: 298px;
}

.section-label {
    width: 165px;
    height: 37px;
    position: absolute;
    left: 138px;
}

/* Define positions for specific elements */
#student-code { top: 194px; }
#student-level { top: 194px; left: 731px; }
#student-name { top: 276px; }
#birthdate { top: 362px; }
#address { top: 443px; }
#department { top: 276px; left: 720px; }
#class-group { top: 362px; left: 722px; }
#phone-number { top: 443px; left: 721px; }
#guardian-name { top: 527px; left: 135px; }

.button-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
}
